.navbar {
  background-color: #001966;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-logo img {
  height: 40px;
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
}

.navbar-links li a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
}

.navbar-links li a:hover {
  text-decoration: underline;
}
